<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Music-School-Project.core</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Sample2</display-name>
    <servlet-name>Sample2</servlet-name>
    <servlet-class>com.vegfood.servlets.Sample2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample2</servlet-name>
    <url-pattern>/Sample2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropDownDemo</display-name>
    <servlet-name>DropDownDemo</servlet-name>
    <servlet-class>com.vegfood.servlets.DropDownDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropDownDemo</servlet-name>
    <url-pattern>/DropDownDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropDownServlet</display-name>
    <servlet-name>DropDownServlet</servlet-name>
    <servlet-class>com.vegfood.servlets.DropDownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropDownServlet</servlet-name>
    <url-pattern>/DropDownServlet</url-pattern>
  </servlet-mapping>
</web-app>