<sly data-sly-use.date="com.vegfood.models.IndexPageDate"/>
<div class="sidebar" >
					<ul>
						<li>
							<span>${date.resDate1}</span>
							<h2>${properties.cardTitle1}</h2>
							<a href="${properties.cardLink1}"><img src="${properties.fileReference1}" alt=""></a>
							<p>
								${properties.cardDiscription1}<a href="#" class="more">(more)</a>
							</p>
						</li>
						<li>
							<span>${date.resDate2}</span>
							<h2>${properties.cardTitle2}</h2>
							<p>
								${properties.cardDiscription2}<a href="#" class="more">(more)</a>
							</p>
						</li>
						<li>
                        	<span>${date.resDate3}</span>
							<h2>${properties.cardTitle3}</h2>
							<a href="${properties.cardLink3}"><img src="${properties.fileReference3}" alt=""></a>
							<p>
								${properties.cardDiscription1}<a href="#" class="more">(more)</a>
							</p>
						</li>
						<li>
                        	<span>${date.resDate4}</span>
							<h2>${properties.cardTitle4}</h2>
							<a href="${properties.cardLink4}"><img src="${properties.fileReference4}" alt=""></a>
							<p>
								${properties.cardDiscription4}<a href="#" class="more">(more)</a>
							</p>
						</li>
						<li>
							<span>${date.resDate5}</span>
							<h2>${properties.cardTitle5}</h2>
							<p>
								${properties.cardDiscription5}<a href="#" class="more">(more)</a>
							</p>
						</li>
					</ul>
					<a href="#">more posts</a>
				</div>
