<div class="footer">


	<div class="about">
		<h3>${properties.cardTitle1}</h3>
		<div>
			<a href="#"><img src="${properties.fileReference1}" alt=""></a>
			<p>
				${properties.des1}
			</p>

		</div>
	</div>
	<div class="contact">
		<h3>${properties.cardTitle2}</h3>
		<ul>
			<li>
				<span>Location :</span>
				<p>
					${properties.address}
				</p>
			</li>
			<li>
				<span>Email :</span>
				<p>
					<a href="http://www.freewebsitetemplates.com/misc/contact">${properties.mail}</a>
				</p>
			</li>
			<li>
				<span>Phone :</span>
				<p>
					(+91) ${properties.mobile}
				</p>
			</li>
		</ul>
	</div>
	<div class="connect">
		<a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
	</div>
	<p class="footnote">
		&#169; Copyright 2012. All rights reserved
	</p>
</div>
